* {
    margin: 0;
    padding: 0
}



.profile1 .card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.profile1 .image img {
    transition: all 0.5s
}

.profile1 .card:hover .image img {
    transform: scale(1.5)
}

.profile1 .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.profile1 .name {
    font-size: 22px;
    font-weight: bold
}

.profile1 .idd {
    font-size: 14px;
    font-weight: 600
}

.profile1 .idd1 {
    font-size: 12px
}

.profile1 .number {
    font-size: 22px;
    font-weight: bold
}

.profile1 .follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.profile1 .btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.profile1 .text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

