.footer {
    background: #000;
    padding: 30px 0px;
    font-family: "Play", sans-serif;
    text-align: center;
  }
  
  .footer .row {
    width: 100%;
    margin: 1% 10%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
    margin-left: 50px;
  }
  
  .footer .row a {
    display: inline-block; /* Add this to make margin and padding work */
    margin: 5px; /* Adjust the margin to increase or decrease the distance between icons horizontally */
    padding: 10px; /* Add padding for additional space around the icons */
    text-decoration: none;
    color: gray;
    font-size: 10 rem;
    transition: color 0.5s; /* Add transition for smooth color change */
  }
  
  .footer .row a:hover {
    color: orange; /* Change color to orange on hover */
  }
  
  .footer .row ul {
    width: 100%;
  }
  
  .footer .row ul li {
    display: inline;
    margin: 0px 30px;
  }
  
  .footer .row a .icon {
    font-size: 2.7em; /* Adjust the font-size to increase or decrease the size of the icons */
    margin: 5px; /* Adjust the margin to increase or decrease the distance between icons horizontally */
    color: gray;
    transition: color 0.5s; /* Add transition for smooth color change */
  }
  
  .footer .row a:hover .icon {
    color: orange; /* Change color to orange on hover */
  }
  
  @media (max-width: 720px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
    .footer .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
    .footer .row a i {
      margin: 0% 3%;
    }
  }
  .id15{
    color:gray
  }