.Home3 {
    background-image:url('./airplane1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .air {
    margin-top: 2rem;
    margin-left: 200px;
  }
  .AirHome{
    margin-left: 350px;
    margin-top: 190px;
  }