.Home3 {
    background-image: url(https://img.freepik.com/free-photo/jumbo-jet-flying-sky_23-2150895701.jpg?t=st=1711729097~exp=1711732697~hmac=5514cd5fc44694e99ca29b61cfe0cd96a2e91254662a7dc71cc5286c3071f25e&w=1800);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .air {
    margin-top: 2rem;
    margin-left: 200px;
  }